@import "https://fonts.googleapis.com/css?family=Montserrat&display=swap";

a, .sec-contact .btn {
    transition: all 0.25s;
}
/*=Typography=*/



.main-heading {
    font-family: Monserrat, sans-serif;
    font-weight: 300;
    text-align: center;
    letter-spacing: 9px;
    text-transform: uppercase;
}
.containerA > h1 {
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin:auto;
}
.oSajtu {
    font-size: 17px;
    line-height: 1.8;
    width:700px;
    margin:auto;
    padding-left:20px;
    padding-right:20px;
    max-width:400px;
    
}
.sec-about a {
    text-decoration: underline;
}


/*=Base=*/
section {
    padding: 5em 0;
}




hr {
    margin-bottom: 3em;
    width: 9%;
}

.sec-main {
    position: relative;
    height: 560px;
    background: url(mainImage2.jpg) no-repeat center center;
    background-size: cover;
    
}
.sec-main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.main-heading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0;
    margin: auto;
    height: 40px;
    color: #fff;
    font-size: 35px;
}

.row h2{
    font-weight: 300;
    text-align: center;
    padding:20px;
    margin:auto;
    font-size:25px;
}



